<h1>Welcome to Gradship.</h1>
<p>
	We help graduated students pay down their loans by connecting 
	graduates to benefactors.
</p>
<h2>Become a Graduate</h2>
<p>
	Sign up for Gradship, and your profile will be viewable to a 
	multitude of benefactors looking to help students eliminate
	their debt.
</p>
<p>
	It's scholarships for graduates.
</p>
<h2>Become a Benefactor</h2>
<p>
	Whether you're looking to donate to all humanities majors 
	at DePaul, or your niece, Sally, Gradship can help. As a
	benefactor you can:
</p>
<ul>
	<li>
		Find a single student or a group of students to help.
	</li>
	<li>
		Give a one-time gift or a monthly gift.
	</li>
	<li>
		Keep track of the impact you're making on student debt.
	</li>
</ul>
