<h1>Welcome to Gradship.</h1>
<p>
	We help graduated students pay down their loans by connecting 
	graduates to benefactors.
</p>
<h2>Become a Graduate</h2>
<p>
	Sign up for Gradship, and your profile will be viewable to a 
	multitude of benefactors looking to help students eliminate
	their debt.
</p>
