/* Blue-green
$lighterblue:#62ced5;
$lightblue:#58afb7;
$blue:#44a1a7;
$darkblue:#0c8194;
$darkerblue:#066883;
*/
$lighterblue:#339cd9;
$lightblue:#317abf;
$blue:#2f61a6;
$darkblue:#29458c;
$darkerblue:#263173;
$orange:#d65600;
$lightorange:#ff7d26;
html {
	min-height:100%;
	body {
		font-family:"helvetica neue",helvetica,sans-serif;
		background:-webkit-radial-gradient($darkblue,$darkerblue);
		.container {
			margin:20px auto;
			width:960px;
			border:1px solid $darkerblue;
			border-radius:8px;
			box-shadow:3px 4px 4px rgba(0, 0, 0, 0.25);
			background:ghostwhite;
		}
		a {
			text-decoration:none;
			color:$orange;
		}
		header {
			height:30px;
			padding:20px 20px;
			border-bottom:2px solid $lightblue;
			h1 {
				font-size:30px;
				font-weight:bold;
				float:left;
			}
			ul {
				float:right;
				li {
					float:left;
					padding-left:20px;
				}
			}
		}
		.content {
			margin:0px 20px;
			.notice {
				margin:20px 0px;
			}
			h1, h2, h3 {
				margin:15px 0px;
				font-weight:bold;
			}
			h1 {
				font-size:25px;
			}
			h2 {
				font-size:20px;
			}
			h3 {
				font-size:15px;
				font-weight:bold;
			}
			p, ul, a {
				font-size:15px;
			}
			p {
				margin:5px 0px;
			}
			.activities, .notes {
				font-weight:bold;
			}
			ul {
				margin:0px 0px;
				list-style-type:circle;
				li {
					margin:5px 20px;
				}
			}
			img {
				border-radius:4px;
				border:1px solid $lightblue;
				box-shadow:1px 2px 2px rgba(0, 0, 0, 0.25);
			}
			form {
				input, label, textarea {
					display:block;
					margin:5px 0px;
					font-size:15px;
				}
				input, textarea {
					border-radius:4px;
					border:1px solid $lighterblue;
					padding:5px 5px;
				}
				.hint {
					color:grey;
					font-size:13px;
					font-style:italic;
				}
				.graduate_benefactor {
					input, label {
						display:inline;
						margin:30px 0px;
					}
				}
				.button {
					text-align:center;
					border-radius:8px;
					border:1px solid $lightblue;
					background:-webkit-linear-gradient(top, $lighterblue, $lightblue);
					text-shadow:$blue 2px 2px;
				
					padding:10px 15px;
					color:white;
					font-weight:bold;
				}
				.checked {
					text-align:center;
					border-radius:8px;
					border:1px solid $darkblue;
					background:-webkit-linear-gradient(top, $blue, $darkblue);
					text-shadow:$darkblue 2px 2px;
				
					padding:10px 15px;
					color:white;
					font-weight:bold;
				}
				.submit {
					border-radius:8px;
					border:1px solid $orange;
					background:-webkit-linear-gradient(top, $lightorange, $orange);
					text-shadow:$orange 2px 2px;
					padding:10px 15px;
					color:white;
					font-weight:bold;
				}
			}
			.errors {
				color:firebrick;
				margin:15px 0px;
			}
			.education_subhead {
				height:35px;
				h2 {
					float:left;
				}
				p {
					float:right;
					margin:15px 0px;
				}
			}
			.story_subhead {
				height:40px;
				h2 {
					float:left;
				}
				p {
					float:right;
					margin:15px 0px;
				}
			}
			.edit_link, .delete_link {
				font-weight:normal;
				font-size:15px;
				padding-left:5px;
			}
			.profile_paragraph {
				width:400px;
			}
			#sign_up_request {
				font-size:18px;
				a {
					font-size:18px;
				}
			}
		}
		footer {
			border-top:2px solid $lightblue;
			padding:20px 20px;
			height:15px;
			font-size:15px;
			color:$lightblue;
			a {
				color:$orange;
			}
			p {
				float:left;

			}
			ul {
				float:right;
				li {
					float:left;
					padding-left:20px;
				}
			}
		}
	}
}