body {
	margin:20px auto;
	width:960px;
	font-family:helvetica neue;
	header {
		margin:20px 0px;
		h1 {
			font-size:30px;
			font-weight:bold;
		}
	}
	.container {
		h1 {
			margin:15px 0px;
			font-size:25px;
			font-weight:bold;
		}
	}
}