<!DOCTYPE html>
<html>
<head>
  <title>Gradship</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Gradship</h1>
	</header>
	<div class='container'>
		<%= yield %>
	</div>
</body>
</html>
